---
layout: default
---


  <h1 class="page-heading">{{ page.title }}</h1>


  I am a Ph.D. student at the University of Illinois at Urbana-Champaign. I am interested in studying local labor markets in developed and developing economies, as well as the relationship between shocks in local labor markets and migration .


  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
